@model IEnumerable<UniversidadeDeContoso.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataComeco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataComeco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrador.NomeCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
