@model UniversidadeDeContoso.Models.Estudante

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Details</h1>

<div>
    <h4>Estudante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SobreNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeMatricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDeMatricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materias)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Nome do curso</th>
                    <th>Nota</th>
                </tr>
                @foreach (var materia in Model.Materias)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => materia.Curso.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => materia.Nota)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
